<h2 class ="content-subhead">Search</h2>

<form action="/search" method="get">
  <input name="query" value="<%= params[:query] %>">
  <button type="submit">Search</button>
</form>

<% if params[:query] && !params[:query].empty? %>
  <% if @search_results.empty? %>
    <p>Sorry, no matches were found.</p>
  <% else %>
    <ul>
      <% @search_results.each do |chapter| %>
        <li><a href="/chapters/<%= chapter.number %>">
          <%= "#{chapter.number}: #{chapter.title}" %>
        </a></li>
      <% end %>
    </ul>
  <% end %>
<% end %>
